html{
    background-color: aliceblue;
}
body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Segoe UI Font Regular';
    src: url('fonts/segoeui.ttf') format('truetype');
}
@font-face {
    font-family: 'Segoe UI Font Light';
    src: url('fonts/segoeuil.ttf') format('truetype');
}

.navigationText{
    text-decoration: none;
    font-family: 'Segoe UI Font Light','Helvetica Neue';
    font-size: 25px;
    color: black;
    padding: 15px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(230, 230, 230);
    opacity: 0.618;
    height: auto;
    width: 100%;
    margin: 0;
    animation: BezierAnimation-Top 0.7s cubic-bezier(0.13,0.51,0.42,0.91);
    text-align: center;
    padding: 5px;
}

.MainPageIntro{
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url('01.jpg');
    padding: 10px;
    align-content: center;
    position: relative;
    animation: BezierAnimation-Top-N 1.3s cubic-bezier(0.13,0.51,0.42,0.91);
}
.introText{
    font-family: 'Segoe UI Font Regular';
    font-size: 20px;
    color: black;
    text-align: center;
    left: 50%;
    top: -30px;
}
.introTextPName{
    font-family: 'Segoe UI Font Light';
    font-size: 60px;
    background-image: linear-gradient(to right,rgb(15, 119, 255),35%,rgb(167,193,217),55%,rgb(255, 156, 27),75%,rgb(247, 91, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 50%;
    top: -60px;
}

para{
    display: block;
}
