html{
    background-color: black;
}
footer{
    color: darkgray;
    text-align: center;
}
h1{
    color: white;
}
header{
    color: white;
    width: auto;
    height: 50px;
    text-align: center;
}
p1{
    color: white;
    text-align: center;
}
nav{
    color: darkgrey;
    height: 60px;
}